<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}GameCode{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body id="css-zen-garden">
<div class="page-wrapper">

	<section class="intro" id="zen-intro">
		<header role="banner">
			<h1>Three of the same figures - you win!</h1>
		</header>

		<div class="preamble" id="zen-preamble" role="article">
			<img src="/static/img/cards2.jpg" width="200" heigh="200"/>
            <p>
			{% block content %}{% endblock %}
			</p>

		</div>
	</section>

	<div class="main supporting" id="zen-supporting" role="main">
		<div class="explanation" id="zen-explanation" role="article">
			<h3>How the result is calculated?</h3>
                <h4>
                    SCORES:
                    <ul>
                    <li><h2><img src="/static/img/j.jpg" width="100" heigh="100"/> 1</h2></li>
                    <li><h2><img src="/static/img/q.jpg" width="100" heigh="100"/> 2</h2></li>
                    <li><h2><img src="/static/img/k.jpg" width="100" heigh="100"/> 3</h2></li>
                    <li><h2><img src="/static/img/a.jpg" width="100" heigh="100"/> 4</h2></li>
                    </ul>
                </h4>
		</div>

		<div class="participation" id="zen-participation" role="article">
			<h3>How to play</h3>
				The slot game involves setting a bet and spinning the reels,
			which randomly generate combinations of symbols on the virtual reels.
			Winnings depend on whether the symbols on the reels form a specific
			combination that corresponds to a win according to the payout table.
		</div>

		<footer>
			<span style="color: purple">
			</span>
		</footer>

	</div>

	<aside class="sidebar" role="complementary">
		<div class="wrapper">

			<div class="design-selection" id="design-selection">
				<h3 class="select">Contact me:</h3>
				<nav role="navigation">
					<ul>
					<li>
						<b>Arkadiusz Mazur</b> - <b>Python Developer</b>, Poland (Katowice)
					</li>
					<li>
						Phone: <b>+48 507-161-496</b>
					</li>
					<li>
						email: <b>arkadiusz.mazur@hotmail.com</b>
					</li>
					</ul>
				</nav>
			</div>

		</div>
	</aside>

</div>

<div class="extra1" role="presentation"></div><div class="extra2" role="presentation"></div><div class="extra3" role="presentation"></div>
<div class="extra4" role="presentation"></div><div class="extra5" role="presentation"></div><div class="extra6" role="presentation"></div>

</body></html>