{% extends "base.html" %}

{% block title %}PLAY{% endblock %}

{% block content %}
    <a href="{% url 'home' %}">&laquo; Home Page</a>

        {% if game_result %}
            <div class="result">{{ game_result }}</div>
        {% endif %}


        {% if reels_combination %}
            <div class="result">
                {{ reels_combination }}
                <form method="POST">
                {% csrf_token %}
                <button type="submit">Play</button>
        </form>
            </div>
        {% endif %}

    <div class="history_results">
    <h3>Your last 10 results:</h3>
        <ul>
        {% for result in current_user_last_10_results %}
            <li>
                {{ result.reels_combination }}, Score: {{ result.game_result }}
            </li>
        {% endfor %}
    </ul>

    <h3>Last 10 results:</h3>
        <ul>
        {% for result in last_10_results %}
            <li>
                {{ result.reels_combination }}, Score: {{ result.game_result }}, Nick: {{  result.id_auth_user.username }}
            </li>
        {% endfor %}
    </ul>
    </div>




{% endblock %}

